/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Dec-2020, 10:04:56
    Author     : Apache1
*/
.thelogo, .thelogo2{
    position: relative;
    left: 10px; 
    z-index: 20;
    
}
.thelogo{
    top:55px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    align: right;
}
.thelogo2{
    top:100px;
}

.topimg{
    padding-bottom: 40px;
}
.topbanner{
    min-height: 100px;
}
.lftmargin{
    
}
.rgtmargin{
    
}

.img-intro{
    float: right;
}
div#pack-desc > table.table td {
    padding: 20px;
    
}
.tf-tree .tf-nc{
    display:block;
    align-content: center;
    justify-content: center;
    font-size: 10px;
    border-radius: 0.5em;
    background-color: #71dd8a;
    
}
.tf-tree *{
    font-size: 12px;
}

.treenode img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}